---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section>
		<h1>Ian Ward</h1>
		<h2>Game / Level Design</h2>
		<h2>QA</h2>
		<p>
			I’m an aspiring game designer currently looking to start my career in the
			games industry. I have a degree (Hons) Computer Games (Design) (BCGD).
		</p>
	</section>
</Layout>
