---
import Gradient from "../components/Gradient.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<Gradient color="purple" opacity={5}>
		<section class="container">
			<h1>Crafting Immersive Gaming Experiences</h1>
			<div id="expertise">
				<span class="badge">GAME DESIGNER</span>
				<span class="badge">LEVEL DESIGNER</span>
				<span class="badge">QUALITY ASSURANCE</span>
			</div>

			<p>
				I’m an aspiring game designer currently looking to start my
				career in the games industry. I have a degree (Hons) Computer
				Games (Design) (BCGD).
			</p>
		</section>
	</Gradient>

	<Gradient color="blue" opacity={5}>
		<section class="container">
			<h2>Featured Projects</h2>
			<p>
				A collection of game design projects showcasing my expertise in
				various genres and gameplay mechanics.
			</p>

			<div class="projects">
				<ProjectCard
					title="Iskandar The Spear of Truth"
					description="A top-down action adventure game inspired by the Legend of Zelda series. Embark on a quest to rescue your kidnapped mother and uncover the truth behind her disappearance."
					image="src/images/iskandar/throne-room.webp"
					alt="Screenshot of Iskandar The Spear of Truth showing a dimly lit throne room with a menacing skull-adorned throne, red banners, torches, and a caged prisoner on the left."
					role="Lead Game Designer"
					tags={["Tag1", "Tag2"]}
					link="/work/iskandar-the-spear-of-truth"
				/>
				<ProjectCard
					title="Equi & Aca"
					description="A 3D action platformer inspired by Ratchet & Clank and Jak and Daxter. Play as Equi, a robot who must restore the balance between magic and machine with the help of their spirit companion, Aca."
					image="src/images/equi-and-aca/workshop.webp"
					alt="Screenshot of Equi & Aca showing Aca, a glowing purple cat-like spirit companion, floating in a sci-fi workshop environment."
					role="Gameplay Designer"
					tags={["Tag1", "Tag2"]}
					link="/equi-and-aca"
				/>
				<ProjectCard
					title="Project Title"
					description="Project Description"
					image="src/images/placeholder.jpg"
					alt="Project Image"
					role="Game Designer"
					tags={["Tag1", "Tag2"]}
					link="/project-link"
				/>
				<ProjectCard
					title="Project Title"
					description="Project Description"
					image="src/images/placeholder.jpg"
					alt="Project Image"
					role="Game Designer"
					tags={["Tag1", "Tag2"]}
					link="/project-link"
				/>
				<ProjectCard
					title="Project Title"
					description="Project Description"
					image="src/images/placeholder.jpg"
					alt="Project Image"
					role="Game Designer"
					tags={["Tag1", "Tag2"]}
					link="/project-link"
				/>
			</div>
		</section>
	</Gradient>
</Layout>

<style>
	h1 {
		color: white;
		text-align: center;
		font-size: clamp(2.1rem, 4vw, 2.5rem);
		margin-bottom: 2rem;
	}

	#expertise {
		display: flex;
		gap: 0.75rem;
		margin: 1.25rem 0;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	p {
		text-align: center;
		text-wrap: balance;
		margin: 2rem 0;
	}

	h2 {
		color: white;
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
		gap: 1.5rem;
	}
</style>
