---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="container">
		<h1>Resume</h1>
		<p>
			<a href="/IanWard_Resume.pdf" download>
				Download my resume (PDF)
			</a>
		</p>
	</div>
</Layout>
