---
import "@/styles/global.css";
import NavLink from "@/components/nav-link.astro";
import { navLinks } from "@/data/links";
---

<nav>
	{
		navLinks.map((link) => (
			<NavLink href={link.href} name={link.name} />
		))
	}
</nav>

<style>
	nav {
		display: flex;
		gap: min(1rem, 1vw);
		flex-direction: row;
		justify-content: center;
	}

	@media (max-width: 750px) {
		nav {
			display: none;
		}
	}
</style>
