---
import "../styles/global.css";
import { FiLinkedin } from "react-icons/fi";
import { FiMail } from "react-icons/fi";
---

<div>
	<a
		href="https://www.linkedin.com/in/ian-ward-567594177/"
		class="accented_border"
	>
		<FiLinkedin />
		<span>Linkedin</span>
	</a>
	<a href="mailto:IanWard1991@hotmail.co.uk" class="accented_border">
		<FiMail />
		<span>Email</span>
	</a>
</div>

<style>
	div {
		display: flex;
		gap: 0.5rem;

		user-select: none;
	}

	a {
		display: flex;
		align-items: center;
		gap: 0.4rem;

		height: fit-content;

		padding: 0.75rem 0.75rem;
		border-radius: 0.75rem;

		color: var(--text-color);
		background-color: hsl(from white h s calc(l * 0.03));

		transition-duration: 0.4s;
		transition-property: color, background-color, border-color;
	}

	a:hover {
		color: white;
		background-color: hsl(from white h s calc(l * 0.1));
	}

	@media (max-width: 800px) {
		span {
			display: none;
		}
	}
</style>
