---
import "../styles/global.css";
const { footer = false } = Astro.props;

const links = [
	{ name: "Work", href: "/" },
	{ name: "Game Jams", href: "/game-jams" },
	{ name: "About Me", href: "/about-me" },
	{ name: "Resume", href: "/resume" },
];
---

<nav
	style={{
		textAlign: footer ? "left" : "center",
		justifyContent: footer ? "start" : "center",
	}}
>
	{
		links.map((link) => (
			<a
				href={link.href}
				style={{
					padding: footer ? "0.25rem 0" : "0.75rem 0.5rem",
				}}
			>
				{link.name}
			</a>
		))
	}
</nav>

<style>
	nav {
		display: flex;
		gap: 1.5rem;
		flex-direction: row;
	}

	a {
		padding: 0.75rem 0.5rem;

		color: var(--text-color);
		transition-duration: 100ms;
		transition-property: color;
	}

	a:hover {
		color: white;
	}

	@media (max-width: 650px) {
		nav {
			display: none;
			gap: 0.5rem;
		}
	}
</style>
