---
import "../styles/global.css";
const { vertical = false } = Astro.props;
---

<nav style={{ flexDirection: vertical ? "column" : "row" }}>
	<a href="/">Work</a>
	<a href="/game-jams">Game Jams</a>
	<a href="/about-me">About Me</a>
	<a href="/resume">Resume</a>
</nav>

<style>
	nav {
		display: flex;
		text-align: center;
		justify-content: center;
		gap: 1rem;
	}

	a {
		padding: 0.75rem 0.5rem;

		color: var(--text-color);
		transition-duration: 100ms;
		transition-property: color;
	}

	a:hover {
		color: white;
	}

	@media (max-width: 650px) {
		nav {
			display: none;
			gap: 0.5rem;
		}
	}
</style>
