---
import "@/styles/global.css";
const { footer = false } = Astro.props;

const links = [
	{ name: "Work", href: "/" },
	{ name: "Game Jams", href: "/game-jams/" },
	{ name: "About Me", href: "/about-me/" },
	{ name: "Resume", href: "/resume/" },
];

const currentPath = Astro.url.pathname;

function isLinkHighlighted(href: string) {
	if (currentPath === href) {
		return true;
	}

	if (currentPath.includes("work") && href === "/") {
		return true;
	}

	return false;
}
---

<nav class:list={[{ footer }]}>
	{
		links.map((link) => (
			<a
				href={link.href}
				class={isLinkHighlighted(link.href) ? "current-page" : ""}
			>
				{link.name}
			</a>
		))
	}
</nav>

<style>
	nav {
		display: flex;
		gap: min(1rem, 1vw);
		flex-direction: row;
		justify-content: center;
	}

	nav.footer {
		flex-direction: column;
		gap: 0;
		justify-content: start;
		text-align: left;
	}

	a {
		padding: 0.75rem 0.5rem;
		color: var(--text-color);
		transition-duration: 100ms;
		transition-property: color;
	}

	.footer a {
		padding: 0.25rem 0;
	}

	a:hover {
		color: white;
	}

	.current-page {
		color: white;
	}

	@media (max-width: 750px) {
		nav {
			display: none;
		}
		nav.footer {
			display: flex;
			text-align: center;
		}
	}
</style>
