---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<div class="container">
		<h1>Iskandar The Spear of Truth</h1>
	</div>
</Layout>

<style>
	h1 {
		color: white;
		text-align: center;
	}
</style>
