---
import "@/styles/global.css";
import ContactLink from "@/components/contact-link.astro";
import { contactLinks } from "@/data/links";
---

<div class="footer-contact-links">
	{contactLinks.map(({ href, Icon, name }) => <ContactLink href={href} name={name} Icon={Icon} />)}
</div>

<style>
	.footer-contact-links {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		user-select: none;
		justify-content: flex-start;
		align-items: center;
	}
</style>
