---
import "@/styles/global.css";
import NavLink from "@/components/nav-link.astro";
import { navLinks } from "@/data/links";
---

<nav>
	{
		navLinks.map((link) => (
			<NavLink href={link.href} name={link.name} />
		))
	}
</nav>

<style>
	nav {
		display: flex;
		flex-direction: column;
		gap: 0;
		justify-content: start;
		text-align: left;
	}
	@media (max-width: 750px) {
		nav {
			justify-content: center;
			text-align: center;
		}
	}
</style>
