---
import "normalize.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Ian Ward</title>
	</head>
	<body>
		<header>
			<a href="/"><span id="site-title">Ian Ward</span></a>
			<nav>
				<a href="/">Home</a>
				<a href="/game-jams">Game Jams</a>
				<a href="/about-me">About Me</a>
				<a href="/resume">Resume</a>
			</nav>
		</header>
		<slot />
		<footer></footer>
	</body>
</html>

<style></style>
