---
import "normalize.css";
import "@/styles/global.css";
import NavLinks from "@/components/NavLinks.astro";
import ContactLinks from "@/components/ContactLinks.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Ian Ward</title>
	</head>
	<body>
		<header>
			<div class="container" id="navbar">
				<a href="/" id="page-title"><span>Ian Ward</span></a>
				<NavLinks />
				<ContactLinks />
			</div>
		</header>
		<div>
			<slot />
		</div>

		<footer>
			<div class="container footer-content">
				<div>
					<span>Ian Ward</span>
					<p>
						Game Designer specializing in creating immersive
						gameplay experiences.
					</p>
				</div>
				<div>
					<span>Navigation</span>
					<NavLinks footer={true} />
				</div>
				<div>
					<span>Connect</span>
					<ContactLinks footer={true} />
				</div>
			</div>
			<span class="container copyright">
				&copy; {new Date().getFullYear()} Ian Ward. All rights reserved.
				<br />
			</span>
		</footer>
	</body>
</html>

<style>
	html {
		overflow-y: scroll;
	}
	body {
		display: grid;
		min-height: 100dvh;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		background-color: black;
		color: var(--text-color);
		font-family: var(--font-sans);
	}

	header {
		padding: 1rem 0;
		border-bottom: 1px solid hsl(from white h s calc(l * 0.1));
		margin-bottom: 1rem;
	}

	#navbar {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		align-items: center;
	}

	#page-title {
		color: white;
		padding: 0.75rem 0.5rem;
	}

	footer {
		border-top: 1px solid hsl(from white h s calc(l * 0.1));
		margin-top: 5rem;
	}

	footer p {
		margin: 0;
	}

	.footer-content {
		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr;
		padding: 2rem 0;
		gap: 2rem;
	}

	.footer-content span {
		color: white;
	}

	.footer-content p {
		text-wrap: balance;
	}

	.footer-content > div {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	@media (max-width: 750px) {
		#navbar {
			grid-template-columns: 1fr 1fr;
			gap: 0.75rem;
		}

		.footer-content {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
			text-align: center;
		}
	}

	.copyright {
		display: block;
		border-top: 1px solid hsl(from white h s calc(l * 0.1));
		text-align: center;
		padding: 1.5rem 0;
	}
</style>
