---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";

interface WorkLayoutProps {
	title: string;
	role: string;
}

const { title, role } = Astro.props as WorkLayoutProps;
---

<Layout>
	<div class="container">
		<h1>{title}</h1>
		<h2>{role}</h2>
		<slot />
	</div>
</Layout>
